/* ABOUT */
#about {
  align-items: center;
  flex-direction: row;
  background-color: var(--blueGray4);
}

#about p {
  margin-bottom: 20px;
  color: #999;
}

#about .portfolio-image {
  width: 100%;
  height: 50vh;
  margin-left: 5%;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  transition: all 0.3s linear;
  animation: changeBG 5s linear infinite;
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

@keyframes changeBG {
  0%,
  100% {
    background-image: url(../images/fire-breathing.jpg);
    border-radius: 81% 19% 70% 30% / 38% 60% 40% 62%;
  }
  50% {
    background-image: url(../images/fire-breathing-2.jpg);
    border-radius: 43% 57% 65% 35% / 80% 18% 82% 20%;
  }
  /* 60% {
      background-image: url(../images/helderberg1.jpg);
      border-radius: 60% 40% 38% 62% / 57% 74% 26% 43%;
    } */
}

@media screen and (max-width: 720px) {
  .portfolio-image {
    display: none;
  }
}
