.container {
	width: 100%;
	background-color: #ddd;
}
.html {
	width: 90%;
	background-color: #04aa6d;
	text-align: right;
}
.css {
	width: 60%;
	background-color: #04aa6d;
	text-align: right;
}
.java {
	width: 65%;
	background-color: #04aa6d;
	text-align: right;
}
.suite {
	width: 90%;
	background-color: #04aa6d;
	text-align: right;
}
.scada {
	width: 70%;
	background-color: #04aa6d;
	text-align: right;
}
.data {
	width: 60%;
	background-color: #04aa6d;
	text-align: right;
}
.algo {
	width: 60%;
	background-color: #04aa6d;
	text-align: right;
}
.mat {
	width: 60%;
	background-color: #04aa6d;
	text-align: right;
}
